.active {
    color: red;
    font-weight: bold;
}


.info {
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 30px;

}

.tab {
    color: gray;
    cursor: pointer;
}





